<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Quill Native Bridge</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>quill_native_bridge_example</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>

	<!-- START: Add-only permission: Required on iOS 14 and later if the album name is not specified -->
	<!-- More details: https://pub.dev/packages/quill_native_bridge#-setup -->
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Used to demonstrate quill_native_bridge plugin</string>
	<!-- END: Add-only permission: Required on iOS 14 and later if the album name is not specified -->

	<!-- START: Read-write permission: Always required on iOS 13 and earlier, and also required on iOS 14 and later if the album name is specified -->
	<!-- More details: https://pub.dev/packages/quill_native_bridge#-setup -->
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Used to demonstrate quill_native_bridge plugin on iOS 13 and earlier or if the album was specified</string>
	<!-- END: Read-write permission: Always required on iOS 13 and earlier, and also required on iOS 14 and later if the album name is specified -->
</dict>
</plist>
